  body{
    background: no-repeat url("https://img.goodfon.com/wallpaper/big/e/8d/viking-viking-temnyy-fon-shlem.jpg");
    background-size: cover;
    text-align: center;
  }

  .hide{
    display: none;
  }

  .btnTimer{
    background-color: #00FF00;
    color: black;
    font-weight: bold;
    border: 2px solid #00FFFF;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: color 1.0s;
  }
  .btnTimer:hover{
    box-shadow: white;
    color: rgba(0, 0, 255, 0.9);
    transition: color 1.0s;
  }

  #btnExit{
    cursor: pointer;
    transition: color 1.0s;
  }
  #btnExit:hover{
    box-shadow: white;
    color: rgba(0, 0, 255, 0.9);
    transition: color 1.0s;
  }

  #showTime{
    color: #00FF00;
    font-size: 1rem;
    border: 1px solid #00FFFF;
    border-radius: 5px;
    background-color: black;
    width: max-content;
    margin:  0 auto 10px;
    padding: 1px 10px;
    transition: color 1.0s;
  }
  #showTime:hover{
    box-shadow: white;
    color: rgba(0, 0, 255, 0.9);
    transition: color 1.0s;
  }

  .neon{
    background: rgba(0, 0, 200, 0.3);
    letter-spacing: 1px;
    border: 2px solid rgba(0, 0, 200, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.9);
    animation: pulse 1s infinite alternate;    /* Define a animação */
  }
  .neon:hover{
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.9); /* Efeito de luzes  */
    color: rgba(0, 0, 255, 0.9);
    transition: color 1.0s;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 40px rgba(0, 0, 255, 0.9); /* Brilho aumentado */
    }
  }

  .h1{
    color: #00FFFF;
    width: max-content;
    margin:  0 auto 10px;
    animation: pulseH1 1s infinite alternate; /* Aplica a animação de pulsação */
  }

  @keyframes pulseH1 {
    0% {
      text-shadow: 0 0 20px rgba(0, 0, 255, 0.5); /* Sombra inicial */
    }
    100% {
      text-shadow: 0 0 40px rgba(0, 0, 255, 0.9); /* Sombra aumentada */
    }
  }
